:root {
    --color-moradoM: #650354;
    --color-azulM: #29008e;
  }

nav .container a span{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);

}

.azulText{
    color: var(--color-azulM); 
}
.moradoText{
  color: var(--color-moradoM);
}
.moradoFondo{
  background-color: var(--color-moradoM);
}
.azulFondo{
  background-color: var(--color-azulM);
}

/*NAVBAR*/

.navbar-nav li.nav-item a.nav-link {
  color: #ffffff; 
  text-shadow: 0 0 2px #ffffff; 
  transition: text-shadow 0.3s; 
}

.navbar-nav li.nav-item a.nav-link:hover {
  text-shadow: 0 0 10px #ffffff; 
  color: var(--color-moradoM); 
  font-weight: bold;
}

/*CAROUSEL*/
.carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.497);
  z-index: 1;
}
.carousel-caption{
  z-index: 2;
}

@media only screen and (max-width: 400px) {
  .carousel-inner{
    padding-top: 60px;
  } 
  .carousel-caption{
    margin-top: 80px;
  }
  .carousel-caption > h2{
    font-size: 17px;
  }
  .carousel-caption p{
    font-size: 12px;
  }
}