:root {
    --color-moradoM: #650354;
    --color-azulM: #29008e;
  }

nav .container a span{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);

}

.azulText{
    color: var(--color-azulM); 
}
.moradoText{
  color: var(--color-moradoM);
}
.moradoFondo{
  background-color: var(--color-moradoM);
}
.azulFondo{
  background-color: var(--color-azulM);
}

.navbar-nav li.nav-item a.nav-link {
  color: #ffffff; 
  text-shadow: 0 0 2px #ffffff; 
  transition: text-shadow 0.3s; 
}

.navbar-nav li.nav-item a.nav-link:hover {
  text-shadow: 0 0 10px #ffffff; 
  color: var(--color-moradoM); 
  font-weight: bold;
}
