:root {
    --color-moradoM: #650354;
    --color-azulM: #29008e;
  }

nav .container a span{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);

}

.azulText{
    color: var(--color-azulM); 
}
.moradoText{
  color: var(--color-moradoM);
}
.moradoFondo{
  background-color: var(--color-moradoM);
}
.azulFondo{
  background-color: var(--color-azulM);
}

/*NAVBAR*/

.navbar-nav li.nav-item a.nav-link {
  color: #ffffff; 
  text-shadow: 0 0 2px #ffffff; 
  transition: text-shadow 0.3s; 
}

.navbar-nav li.nav-item a.nav-link:hover {
  text-shadow: 0 0 10px #ffffff; 
  color: var(--color-moradoM); 
  font-weight: bold;
}

/*CAROUSEL*/
#carouselE .carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.497);
  z-index: 1;
}
#typewriter, #typewriter2, #typewriter3{
  text-shadow: 0 0 6px #ffffff; 
}
.carousel-caption{
  z-index: 2;
}

/*NUESTROS CURSOS*/
.curso {
  position: relative;
  overflow: hidden;
}

.contenedorCursos{
  width: 100%;
  padding: 0 !important;
  margin: 0 auto !important;
}
.curso img {
  transition: transform 0.5s;
  max-width: 100%;
}
.curso:hover img {
  transform: scale(1.2);
}
.curso .descripcion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.curso:hover .descripcion {
  opacity: 1;
}
.descripcionP{
  text-align: justify;
}
/*CARDS ESTUDIANTES*/
#cardCarousel{
  padding-left: 15%;
  padding-right: 15%;
}

/*CONTACTO*/
.cotactanos {
  padding: 40px;
}

.contactanos h2{
  font-size: 36px;
}
.mensaje-whatsapp{
  height: 100%;
}
.redes-sociales {
  text-align: center;
}
.redes-sociales svg{
  width: 40px;
  transition: .3s ease;
}
#facebookIcon{
  fill: #0866ff;
}
.redes-sociales #facebookIcon:hover{
  background-color: #0866ff;
  fill: white;
  box-shadow: 0 0 15px #0866ff,
              0 0 45px #0866ff,
              0 0 75px #0866ff,
              0 0 115px #0866ff;
}
.redes-sociales a:hover{
  background-color: white;
}

#tiktokIcon{
  fill: #000000;
}

.redes-sociales #tiktokIcon:hover{
  background-color: #65c3c9;
  fill: #e71d4f;
  box-shadow: 0 0 15px #65c3c9,
              0 0 45px #65c3c9,
              0 0 75px #65c3c9,
              0 0 115px #65c3c9;
}

#youtubeIcon{
  fill: #ff0000;
}

.redes-sociales #youtubeIcon:hover{
  background-color: #ff0000;
  fill: white;
  box-shadow: 0 0 15px #ff0000,
              0 0 45px #ff0000,
              0 0 75px #ff0000,
              0 0 115px #ff0000;
}

#instagramIcon{
  fill: #ed4a5f;
}

.redes-sociales #instagramIcon:hover{
  background-color: #a231c1;
  fill: #e84272;
  box-shadow: 0 0 15px #fec04f,
              0 0 45px #a231c1,
              0 0 75px #4d5dcc,
              0 0 115px #e84272;
}

.mensaje-whatsapp {
  background-image: url('../images/Carrusel2.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con tu imagen */
  background-size: cover;
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
  transition: 0.3 ease;
}

.mensaje-whatsapp a{
  transition: transform 0.3s ease-in-out;
}

.mensaje-whatsapp a:hover{
  transform: scale(1.1);
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1980px) {
   /*CAROUSEL*/
   .bloque1, .bloque2, .bloque3{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
   }
   .tituloPrincipal{
    font-size: 55px;
    padding-bottom: 40px;
  }
  .textoMovPrincipal{
    font-size: 40px;
    padding-bottom: 30px;
  }
  .lugar{
    font-size: 30px;
  }
  .tituloCarrusel{
    font-size: 45px;
    padding-bottom: 30px;
  }
  .textoMovimiento{
    font-size: 40px;
    padding-bottom: 20px;
  }
  /*NUESTROS CURSOS*/
  .cursosTitulo{
    font-size: 40px;
  }
  .curso{
    margin-bottom: 20px;
  }
  .curso img{
    height: 250px;
  }
  .descripcionP{
    font-size: 1rem;
  }
  .tituloEstudiantes{
    font-size: 45px;
    padding-top: 60px;
  }

  #cardCarousel{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  /*CONTACTO*/
  .contactanos h2{
    font-size: 3rem;
  }
  .redes-sociales > div{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .mensaje-whatsapp a{
    font-size: 2rem;
  }
  footer p{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  /*CAROUSEL*/
  .tituloPrincipal{
    font-size: 45px;
    padding-bottom: 40px;
  }
  .textoMovPrincipal{
    font-size: 40px;
    padding-bottom: 30px;
  }
  .lugar{
    font-size: 30px;
  }
  .tituloCarrusel{
    font-size: 45px;
    padding-bottom: 30px;
  }
  .textoMovimiento{
    font-size: 40px;
    padding-bottom: 20px;
  }
  
  /*NUESTROS CURSOS*/
  .cursosTitulo{
    font-size: 40px;
  }
  .curso{
    margin-bottom: 20px;
  }
  .curso img{
    height: 100px;
  }
  .descripcionP{
    font-size: 0.5rem;
  }
  .tituloEstudiantes{
    font-size: 35px;
    padding-top: 30px;
  }
  /*CONTACTO*/
  .redes-sociales .textoRed{
    padding-left: 0;
  }
  /*CONTACTO*/
  .contactanos h2{
    font-size: 2rem;
  }
  .redes-sociales > div{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mensaje-whatsapp a{
    font-size: 1rem;
  }
  footer p{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .tituloPrincipal{
    font-size: 30px;
    margin: 0;
    padding-bottom: 12px;
  }
  .textoMovPrincipal{
    margin: 0;
    padding-bottom: 8px;
    font-size: 24px;
  }
  .lugar{
    font-size: 20px;
  }
  .tituloCarrusel{
    font-size: 30px;
    margin: 0;
    padding-bottom: 18px;
  }
  .textoMovimiento{
    font-size: 28px;
    margin: 0;
    padding-bottom: 12px;
  }
  .curso img{
    height: 300px;
  }
  .descripcionP{
    font-size: 1.5rem;
  }
  .card img{
    width: 12rem;
    height: 15rem;
    padding-top: 10px;
    overflow: hidden;
  }
  #cardCarousel{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

    /*CONTACTO*/
    .redes-sociales .textoRed{
      padding-left: 0;
    }
    .redes-sociales > div{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .mensaje-whatsapp{
      height: 300px;
    }
    .mensaje-whatsapp a{
      font-size: 1rem;
    }
    footer p{
      font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
  .carousel-inner{
    padding-top: 20px;
  } 
  .carousel-caption{
    margin-top: 0px;
    padding-top: 0;
  }
  .tituloPrincipal{
    font-size: 23px;
    margin: 0;
    padding-bottom: 5px;
  }
  .textoMovPrincipal{
    margin: 0;
    padding-bottom: 5px;
  }
  .lugar{
    margin: 0;
  }
  .carousel-caption .tituloCarrusel{
    font-size: 25px;
    margin: 0;
    padding-bottom: 12px;
  }
  .carousel-caption .textoMovimiento{
    font-size: 23px;
    margin: 0;
    padding-bottom: 5px;
  }
  .carousel-caption p{
    font-size: 16px;
  }
  .curso img{
    height: 250px;
  }
  .descripcionP{
    font-size: 0.9rem;
  }
  /*CARTAS*/
  .card-text{
    text-align: justify;
    padding: 0 12px 0px 12px;
  }
  #cardCarousel{
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
}

@media only screen and (max-width: 400px) {
  /*CARROUSEL*/
  .tituloPrincipal{
    padding-bottom: 10px;
  }
  .textoMovPrincipal{
    margin: 0;
    padding-bottom: 5px;
  }
  .lugar{
    margin: 0;
  }
  .carousel-caption .tituloCarrusel{
    font-size: 24px;
    padding-bottom: 5px;
  }
  .carousel-caption > h2{
    font-size: 19px;
  }
  .carousel-caption .textoMovimiento{
    font-size: 21px;
    margin: 0;
    padding-bottom: 0;
  }
  #cardCarousel{
    padding-left: 1%;
  }
}

